<footer class="footer">
  <mat-toolbar class="footer" color="primary">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">

      <button mat-button routerLink="/" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
        <div class="toolbar-icon">
          <mat-icon>home</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>shell</span>
        </div>
      </button>

      <button mat-button routerLink="/dashboard" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>assessment</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>dashboard</span>
        </div>
      </button>

      <button mat-button routerLink="/admin" routerLinkActive="active-menu-item">
        <div class="toolbar-icon">
          <mat-icon>admin_panel_settings</mat-icon>
        </div>
        <div class="toolbar-icon-text">
          <span>admin</span>
        </div>
      </button>

    </div>
  </mat-toolbar>
</footer>